In [20]:
import pandas as pd

# Load the dataset
df = pd.read_csv("GDP - HW4 (1).csv")

In [21]:
df

,Country,Country Code,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010
0,Aruba,ABW,33120.054180,32117.912320,30862.222690,31387.282960,34176.464600,35207.577240,36362.219320,37865.493490,38515.263800,34693.086750,33732.847450
1,Afghanistan,AFG,NaN,NaN,839.485886,888.153370,885.840819,979.273979,1031.643135,1176.126357,1218.118215,1454.663015,1637.377987
2,Angola,AGO,3097.307292,3191.266323,3564.096026,3614.607278,3978.697194,4555.185842,5048.876449,5697.251328,6221.423373,6092.783245,6230.297028
3,Albania,ALB,3861.334172,4301.352799,4661.371553,4994.518807,5422.778462,5865.306196,6559.783257,7276.302969,8228.374239,8814.810856,9628.025783
4,Arab World,ARB,9415.632618,9584.108301,9581.797143,9974.641898,10937.316090,11646.486090,12442.187940,13041.925530,13739.727750,13640.846780,14127.778020
...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,Kosovo,XKX,3688.088054,4782.379635,4820.697450,5200.329414,5476.113407,5983.304400,6390.420478,6983.879200,7249.409360,7506.898620,7782.875107
256,"Yemen, Rep.",YEM,3181.383522,3278.903531,3363.240378,3452.738165,3581.824687,3789.889382,3915.384569,4038.655597,4148.556849,4221.413776,4472.726448
257,South Africa,ZAF,7719.255957,7994.262425,8315.442736,8613.587442,9136.414314,9796.154549,10524.346060,11240.260370,11667.849830,11416.001690,11728.160490
258,Zambia,ZMB,1691.967387,1773.963693,1835.247757,1948.531639,2087.213343,2248.465939,2434.454195,2637.277877,2819.650593,3017.024571,3269.794329
259,Zimbabwe,ZWE,2344.271146,2421.530752,2235.360895,1885.511354,1818.104977,1759.358119,1738.514250,1705.901346,1417.507098,1581.161558,1888.566739

In [22]:
# Define year columns (from 2000 to 2010)
year_columns = df.columns[2:]  # skipping 'Country' and 'Country Code'

# Step 1: Remove countries where all GDP values are missing
df = df.dropna(subset=year_columns, how='all')

In [23]:
df.shape

(241, 13)

In [24]:
df

,Country,Country Code,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010
0,Aruba,ABW,33120.054180,32117.912320,30862.222690,31387.282960,34176.464600,35207.577240,36362.219320,37865.493490,38515.263800,34693.086750,33732.847450
1,Afghanistan,AFG,NaN,NaN,839.485886,888.153370,885.840819,979.273979,1031.643135,1176.126357,1218.118215,1454.663015,1637.377987
2,Angola,AGO,3097.307292,3191.266323,3564.096026,3614.607278,3978.697194,4555.185842,5048.876449,5697.251328,6221.423373,6092.783245,6230.297028
3,Albania,ALB,3861.334172,4301.352799,4661.371553,4994.518807,5422.778462,5865.306196,6559.783257,7276.302969,8228.374239,8814.810856,9628.025783
4,Arab World,ARB,9415.632618,9584.108301,9581.797143,9974.641898,10937.316090,11646.486090,12442.187940,13041.925530,13739.727750,13640.846780,14127.778020
...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,Kosovo,XKX,3688.088054,4782.379635,4820.697450,5200.329414,5476.113407,5983.304400,6390.420478,6983.879200,7249.409360,7506.898620,7782.875107
256,"Yemen, Rep.",YEM,3181.383522,3278.903531,3363.240378,3452.738165,3581.824687,3789.889382,3915.384569,4038.655597,4148.556849,4221.413776,4472.726448
257,South Africa,ZAF,7719.255957,7994.262425,8315.442736,8613.587442,9136.414314,9796.154549,10524.346060,11240.260370,11667.849830,11416.001690,11728.160490
258,Zambia,ZMB,1691.967387,1773.963693,1835.247757,1948.531639,2087.213343,2248.465939,2434.454195,2637.277877,2819.650593,3017.024571,3269.794329
259,Zimbabwe,ZWE,2344.271146,2421.530752,2235.360895,1885.511354,1818.104977,1759.358119,1738.514250,1705.901346,1417.507098,1581.161558,1888.566739

In [25]:
# Step 2: Fill missing GDP values with the mean GDP for that country
def fill_missing_with_country_mean(row):
    gdp_values = row[year_columns]
    mean_value = gdp_values.mean(skipna=True)
    return gdp_values.fillna(mean_value)

df[year_columns] = df.apply(fill_missing_with_country_mean, axis=1)

/var/folders/41/l3bzp_qs7sg9pqvnnlx00zsr0000gn/T/ipykernel_19423/3191073533.py:5: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  return gdp_values.fillna(mean_value)
/var/folders/41/l3bzp_qs7sg9pqvnnlx00zsr0000gn/T/ipykernel_19423/3191073533.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[year_columns] = df.apply(fill_missing_with_country_mean, axis=1)

In [26]:
df

,Country,Country Code,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010
0,Aruba,ABW,33120.054180,32117.912320,30862.222690,31387.282960,34176.464600,35207.577240,36362.219320,37865.493490,38515.263800,34693.086750,33732.847450
1,Afghanistan,AFG,1123.409196,1123.409196,839.485886,888.153370,885.840819,979.273979,1031.643135,1176.126357,1218.118215,1454.663015,1637.377987
2,Angola,AGO,3097.307292,3191.266323,3564.096026,3614.607278,3978.697194,4555.185842,5048.876449,5697.251328,6221.423373,6092.783245,6230.297028
3,Albania,ALB,3861.334172,4301.352799,4661.371553,4994.518807,5422.778462,5865.306196,6559.783257,7276.302969,8228.374239,8814.810856,9628.025783
4,Arab World,ARB,9415.632618,9584.108301,9581.797143,9974.641898,10937.316090,11646.486090,12442.187940,13041.925530,13739.727750,13640.846780,14127.778020
...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,Kosovo,XKX,3688.088054,4782.379635,4820.697450,5200.329414,5476.113407,5983.304400,6390.420478,6983.879200,7249.409360,7506.898620,7782.875107
256,"Yemen, Rep.",YEM,3181.383522,3278.903531,3363.240378,3452.738165,3581.824687,3789.889382,3915.384569,4038.655597,4148.556849,4221.413776,4472.726448
257,South Africa,ZAF,7719.255957,7994.262425,8315.442736,8613.587442,9136.414314,9796.154549,10524.346060,11240.260370,11667.849830,11416.001690,11728.160490
258,Zambia,ZMB,1691.967387,1773.963693,1835.247757,1948.531639,2087.213343,2248.465939,2434.454195,2637.277877,2819.650593,3017.024571,3269.794329
259,Zimbabwe,ZWE,2344.271146,2421.530752,2235.360895,1885.511354,1818.104977,1759.358119,1738.514250,1705.901346,1417.507098,1581.161558,1888.566739

In [27]:
df.isnull().sum()

Country         0
Country Code    0
2000            0
2001            0
2002            0
2003            0
2004            0
2005            0
2006            0
2007            0
2008            0
2009            0
2010            0
dtype: int64

In [28]:
df.to_csv("gdp_latest_data.csv")